{% extends "base.html" %}
{% block title %}
    Список курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <h1><a href="/">BFE <span class="logo_colour">учебный проект</span></a></h1>
          <h2>сложна, но я стараюсь</h2>
        </div>
      </div>

    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="content">
        <h1>Список категорий</h1>
        <ul>
            {% for item in objects_list %}
            <li>
                <h>id({{item.id}}) {{item.name}}</h> <span>Количество курсов: {{item.course_count()}}</span>
                <ul>
                    <li>
                        <a class="my_button" href="/create-course/?id={{item.id}}">Создать курс</a>
<!--                        <a class="my_button" href="/create-category/?category_id={{item.id}}">Создать подкатегорию</a>-->
                        <a class="my_button" href="/courses-list/?id={{item.id}}">Список курсов</a>
                    </li>
                </ul>
            </li>
            {% endfor %}
            <div>
                <li><a href="/create-category/">Добавить категорию</a></li>
            </div>
        </ul>
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p>Copyright &copy; Onlyjoy's production</p>
    </div>
{% endblock %}