{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <a href="/">назад</a>

    <h1>Список категорий</h1>
    <ul>
        {% for item in objects_list %}
        <li>
            {{item.id}} {{item.name}} <span>Количество курсов: {{item.course_count()}}</span>
            <div>
                <a href="/create-course/?id={{item.id}}">Создать курс</a>
                <a href="/courses-list/?id={{item.id}}">Список курсов</a>
            </div>
        </li>
        {% endfor %}
        <div>
            <li><a href="/create-category/">Добавить категорию</a></li>
        </div>
    </ul>
{% endblock %}