{% extends "base.html" %}
{% block title %}
Список курсов
{% endblock %}
{% block style %}
	{% include "inc-style.html" %}
{% endblock %}
{% block menu %}
	{% include "inc-menu.html" %}
{% endblock %}
{% block body %}
    <div id="main">
    <div id="header">
      <div id="logo">
        <div id="logo_text">
          <!-- class="logo_colour", allows you to change the colour of the text -->
          <h1><a href="/">BFE <span class="logo_colour">учебный проект</span></a></h1>
          <h2>сложна, но я стараюсь</h2>
        </div>
      </div>

    </div>
    <div id="content_header"></div>
    <div id="site_content">
      <div id="content">
        <a href="/create-course/?id={{id}}">Создать новый курс</a>
        <br>
        <h1>Список курсов для категории "{{name}}"</h1>
        {% for item in objects_list %}
        <li>
            {{item.name}} ({{item.type_}})
        </li>
        {% endfor %}
      </div>
    </div>
    <div id="content_footer"></div>
    <div id="footer">
      <p>Copyright &copy; Onlyjoy's production</p>
    </div>
{% endblock %}